{% extends 'base.html.twig' %}

{% block body %}

<main class="site-wrapper">
    <div class="page-home relative">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title home text-center">
              <br>
              <p>Bienvenue sur ProStages, la première plateforme de recherche de stages.</p>
              <br>
            </div>
            <div class="hexagon-menu clear">
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a href="{{path('pro_stage_liste_entreprises')}}" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                    <br>
                      <img src="{{ asset('/img/factory.png')}}" width="90" height="90">
                    </span>
                    <span class="title">Liste des entreprises</span>
                  </span>
                  <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item" style="visibility: hidden;">
              </div>
              <div class="hexagon-item" style="visibility: hidden;">
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a href="{{path('pro_stage_liste_formations')}}" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <br>
                      <img src="{{ asset('/img/graduation_cap.png')}}" width="90" height="90">
                    </span>
                    <span class="title">Liste des formations</span>
                  </span>
                  <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item" style="visibility: hidden;">
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a href="{{path('pro_stage_liste_tout_les_stages')}}" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <br>
                      <br>
                      <img src="{{ asset('/img/stage.png')}}" width="90" height="90">
                    </span>
                    <span class="title">Tous les stages</span>
                  </span>
                  <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item" style="visibility: hidden;">
              </div>
            </div> <!-- /.hexagon-menu -->
          </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
</main> <!-- /.site-wrapper -->

{% endblock %}