{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <center>
        <h1>Details :</h1>
    </center>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 p-0 truc">
            <div class="service-item text-center">
                <br>
                <h4>{{stage.titre}}</h4>
                <h4>{{stage.entreprise.activite}}</h4>
                <br>
                <strong> Proposé par : </strong> <a href="{{path('pro_stage_stage_par_entreprise', {'nom': stage.entreprise.nom}) }}" >{{stage.entreprise.nom}}</a>
                <br>
                <br>
                <strong> Mission : </strong> <p> {{stage.mission}} </p>
                <br>
                <strong> Proposé aux étudiant en : </strong> 
                {% for formation in stage.typeFormation %}
                    <a href="{{path('pro_stage_stage_par_formation', {'nom': formation.titre}) }}">{{ formation.titre }}</a>
                    <br>
                {% endfor %}
                <br>
                <strong> Adresse : </stong> <p>{{stage.entreprise.adresse}} </p>
                <br>
                <strong> Site web : </strong> <a href="#">{{stage.entreprise.lienSite}}</a>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}