{% extends 'base.html.twig' %}

{% block body %}
	<br>
    <h1>
        <center>Stages :</center>
    </h1>
    <br>
    <div class="row justify-content-center">
        {% for stage in stages %}
            <div class="col-md-4 col-sm-6 p-0 truc">
                <div class="service-item text-center">
                    <span class="count">{{loop.index}}.</span>
                    <br>
                    <h4>{{stage.titre}}</h4>
                    <br>
					<p>
						Proposé par <a href="{{path('pro_stage_stage_par_entreprise', {'nom': stage.entreprise.nom}) }}">{{ stage.entreprise.nom }}</a>
					</p>
					<br>
                    <a class="btn btn-main" href="{{path('pro_stage_detail_stage', {'id': stage.id()}) }}">Voir plus</a>
                </div>
                <br>
                <br>
            </div>
            {% if loop.index % 2 == 0 %}
                <div class="w-100"></div>
            {% endif %}
        {% else %}
            <h1>
                <center>Aucune entreprise disponible.</center>
            </h1>
        {% endfor %}
    </div>
{% endblock %}