{% extends 'base.html.twig' %}

{% block body %}
    
	<br />
	<h1>
        <center>Stages pour la formation <strong>{{nomFormation}}</strong> :</center>
    </h1>
	<br />

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-2">
						</th>
						<th class="col-md-3">
							Nom stage
						</th>
						<th class="col-md-2">
							Nom entreprise
						</th>
						<th class="col-md-3">
							activité
						</th>
						<th class="col-md-2">
						</th>
					</tr>
				</thead>

				<tbody>
                    {% for stage in stages %}
                        <tr>
							<td class="col-md-2">
							</td>
                            <td class="col-md-3">
                                <a href="{{path('pro_stage_detail_stage', {'id': stage.id}) }}" <button type="button" class="btn btn-link">{{stage.titre}}</button>
                            </td>
                            <td class="col-md-2">
                                <a href="{{path('pro_stage_stage_par_entreprise', {'nom': stage.entreprise.nom}) }}" <button type="button" class="btn btn-link">{{stage.entreprise.nom}}</button>
                            </td>
                            <td class="col-md-3">
                                {{stage.entreprise.activite}}
                            </td>
							<td class="col-md-2">
							</td>
                        </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
    </div>

{% endblock %}