{% extends 'base.html.twig' %}

{% block body %}
    
	<br />
	<h1>
        <center>Stage proposé par <strong>{{nomEntreprise}}</strong> :</center>
    </h1>
	<br />

	<center>
		<a href="{{path('pro_stage_modifier_entreprise', {'nom': nomEntreprise}) }}">Modifier informations</a>
	<center>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-2">
						</th>
						<th class="col-md-4">
							Nom stage
						</th>
						<th class="col-md-4">
							activité
						</th>
						<th class="col-md-2">
						</th>
					</tr>
				</thead>

				<tbody>
                    {% for stage in stages %}
                        <tr>
							<td class="col-md-2">
							</td>
                            <td class="col-md-4">
                                <a href="{{path('pro_stage_detail_stage', {'id': stage.id}) }}" /><button type="button" class="btn btn-link">{{stage.titre}}</button>
                            </td>
                            <td class="col-md-4">
                                {{stage.entreprise.activite}}
                            </td>
							<td class="col-md-2">
							</td>
                        </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
    </div>

{% endblock %}