<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block titre %}
            <h1>
                <a href="{{path('pro_stage_accueil')}}">ProStage</a>
            </h1>
        {% endblock %}
        {% block menu %}
            <nav>
                <p>
                    <a href="{{path('pro_stage_formations')}}">Trier par formations</a>
                    <a href="{{path('pro_stage_entreprises')}}">Trier par entreprises</a>
                </p>    
            </nav>
        {% endblock %}
        {% block body %}
        
        {% endblock %}
    </body>
</html>
